{% extends "base.html" %}

  {% block content %}
		<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/static/images/14.png);">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>About Us</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						{% for n in aboutusdata %}
						<div class="about-section">
							<img class="display-left animate-box" src="/media/{{n.aboutus_img}}" alt="about"height="250">
							<div class="poco"><h3 class="animate-box">{{n.aboutus_title}}</h3></div>
						    <p class="animate-box">
								"At our company, we turn the digital dreams of our clients into a reality. We work closely with our users throughout development to ensure that we are still aligned with the end-goal. We are committed to producing exceptional software for each of our clients."</p>
							<img class="display-right animate-box" src="/static/images/17.png" alt="about" height="250">
							<div class="poco"><h3 class="animate-box">Rigorous Testing</h3></div>
							<p class="animate-box">
								"Once we have finished the initial development of our client's product, we begin performing meticulous bug checks. These tests are included in the price of the development package. After testing, we deliver the software to our clients."</p>
								<img class="display-left animate-box" src="/static/images/18.png" alt="about"height="290">
								<div class="poco"><h3 class="animate-box">Quality Guaranteed</h3></div>
							<blockquote class="animate-box">
								<p>“The world of technology can be fast-paced and scary. That's why our goal is to provide a high-quality product that aligns with your company's needs. No matter the budget, we pride ourselves on providing professional customer service.”</p>
								<span>&mdash; BlueTick - Co Founder</span>
							</blockquote>
							
						</div>
					</div>
					<div class="col-md-3">
						
						<div class="sidebar">
							<div class="inner animate-box">
								<h2><i>What Our Customer Says?</i></h2>
								<a href="#"><img class="img-responsive" src="/static/images/16.gif" alt="product"></a>
							</div>
							<div class="inner animate-box">
								<br>
								<details>
									<summary><i class="fa-solid fa-caret-down"></i><b>  Gaurav Jadhav</b></summary>
									<p>"If you're looking for a perfect application, look no further than this company! My product's interface is intuitive and easy-to-use. I can't imagine using anyone else for my software needs!"</p>
									  </details>
									  <br>
									  <details>
										<summary><i class="fa-solid fa-caret-down"></i><b>  Akansha Agarwal</b></summary>
										<p>"This company worked closely with me throughout the entire process. I loved the final product and can't wait to use this company in the future!"</p></details>
										<br>  
										<details>
										<summary><i class="fa-solid fa-caret-down"></i><b>  Hrishikesh</b></summary>
									<p>"I had a few concerns before working with this company. Customer service was beyond helpful in answering all of my questions. I'm so glad I went with them, my product looks great!"</p>
									  </details>
									  <br>
									  <details>
										<summary><i class="fa-solid fa-caret-down"></i><b>  Sanika Chavan</b></summary>
									<p>"One of the consultant firms. I've got projects with the help of experts and I have a great experience they are very supportive and understanding they have a clear conversation too."</p>
									  </details>
									  <br>
									  <details>
										<summary><i class="fa-solid fa-caret-down"></i><b>  Sagar Khule</b></summary>
									<p>"It has significant changed how our company manager customer support .. the virtual help desk has enabled usto give our clients greater service at a low cost and with less hassle. The support staff is a available at all time.Company wit"</p>
									  </details>
									  
								
							</div>
						</div>

								{{n.aboutus_dec}}</p>
						{% endfor %}
					</div>
		{% endblock %}
		