{% extends "base.html" %}

  {% block content %}
		<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/static/images/14.png);">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>About Us</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						{% for n in aboutusdata %}
						<div class="about-section">
							<img class="display-left animate-box" src="/media/{{n.aboutus_img}}" alt="about"height="250">
							<div class="poco"><h3 class="animate-box">{{n.aboutus_title}}</h3></div>
						    <p class="animate-box">
								{{n.aboutus_dec}}</p>
						{% endfor %}
					</div>
		{% endblock %}
		