{% extends "base.html" %}

  {% block content %}
		<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/static/images/14.png);">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>About Us</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						{% for n in aboutusdata %}
						<div class="about-section">
							<img class="display-left animate-box" src="/media/{{n.aboutus_img}}" alt="about"height="250">
							<div class="poco"><h3 class="animate-box">{{n.aboutus_title}}</h3></div>
						    <p class="animate-box">
								{{n.aboutus_dec}}</p>
						{% endfor %}
					</div>
					<div class="sidebar">
						<div class="inner animate-box">
							<br>
							<details>
								<summary><i class="fa-solid fa-caret-down"></i><b>  Gaurav Jadhav</b></summary>
								<p>"If you're looking for a perfect application, look no further than this company! My product's interface is intuitive and easy-to-use. I can't imagine using anyone else for my software needs!"</p>
								  </details>
								  <br>
								  <details>
									<summary><i class="fa-solid fa-caret-down"></i><b>  Akansha Agarwal</b></summary>
									<p>"This company worked closely with me throughout the entire process. I loved the final product and can't wait to use this company in the future!"</p></details>
									<br>  
									<details>
									<summary><i class="fa-solid fa-caret-down"></i><b>  Hrishikesh</b></summary>
								<p>"I had a few concerns before working with this company. Customer service was beyond helpful in answering all of my questions. I'm so glad I went with them, my product looks great!"</p>
								  </details>
								  <br>
								  <details>
									<summary><i class="fa-solid fa-caret-down"></i><b>  Sanika Chavan</b></summary>
								<p>"One of the consultant firms. I've got projects with the help of experts and I have a great experience they are very supportive and understanding they have a clear conversation too."</p>
								  </details>
								  <br>
								  <details>
									<summary><i class="fa-solid fa-caret-down"></i><b>  Sagar Khule</b></summary>
								<p>"It has significant changed how our company manager customer support .. the virtual help desk has enabled usto give our clients greater service at a low cost and with less hassle. The support staff is a available at all time.Company wit"</p>
							</details>
						</div>
					</div>
		{% endblock %}
		