<!-- Footer start -->
<div class="footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <div class="social-icons">
    <a href="https://www.facebook.com/blueticksoftware?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/blueticksoft" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/blueticksoftware/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/blueticksoftware?_l=en_US" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.youtube.com/blueticksoftware" target="_blank"><i class="fab fa-youtube"></i></a>
    
    <!-- Add more social media icons as needed -->
  </div>
  <p class="copyright">&copy;<b> Blueticks Software Private Limited</b>
      <br>
      258, Kapad Ganj, Shukrawar Peth, Pune, Maharashtra, India
      <br>
      Phone no. +91 9730101030
      <br>
      Email - contact@blueticksoftware.com </p>
</div>

<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Owl carousel -->
<script src="/static/js/owl.carousel.min.js"></script>
<!-- Waypoints -->
<script src="/static/js/jquery.waypoints.min.js"></script>
<!-- Parallax Stellar -->
<script src="/static/js/jquery.stellar.min.js"></script>

<!-- Main JS (Do not remove) -->
<script src="/static/js/main.js"></script>

</body>
</html>
