{% extends "base.html" %}

  {% block content %}
		<div class="owl-carousel owl-carousel1 owl-carousel-fullwidth fh5co-light-arrow animate-box" data-animate-effect="fadeIn">
			<div class="item"><a href="/static/images/3.jpg" class="image-popup"><img src="/static/images/3.jpg" alt="image"></a></div>
			<div class="item"><a href="/static/images/2.jpg" class="image-popup"><img src="/static/images/2.jpg" alt="image"></a></div>
			<div class="item"><a href="/static/images/1.webp" class="image-popup"><img src="/static/images/1.webp" alt="image"></a></div>
			<div class="item"><a href="/static/images/4.jpg" class="image-popup"><img src="/static/images/4.jpg" alt="image"></a></div>
			<div class="item"><a href="/static/images/6.webp" class="image-popup"><img src="/static/images/6.webp" alt="image"></a></div>
		
		</div>
		<div id="fh5co-media-section">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h3>Welcome to BlueTick</h3>
						<p>World is moving towards digital world. Are you looking to take your business online and boost your business like others ? If yes, Then you are at the right place. well we dont to different things but we do things differently.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7 animate-box">
						<div class="fh5co-cover" style="background-image: url(/static/images/7.jpg);">
							<div class="desc">
								<p>Our Employees</p>
								
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="fh5co-cover">
							<div class="fh5co-cover-hero animate-box">
								<div class="fh5co-cover-thumb" style="background-image: url(/static/images/21.jpg);"></div>
								<div class="desc-thumb">
									<p>"Crafting seamless user interfaces that captivate and engage users, I bring creativity to code and elevate user experiences."</p>
									<span>Front End Developer</span>
								</div>
							</div>

							<div class="fh5co-cover-hero animate-box">
								<div class="fh5co-cover-thumb" style="background-image: url(/static/images/19.jpg);"></div>
								<div class="desc-thumb">
									<p>"Architecting robust server-side solutions, I ensure the backbone of our systems is secure, scalable, and optimized for peak performance."</p>
									<span>Back End Developer</span>
								</div>
							</div>

							<div class="fh5co-cover-hero animate-box">
								<div class="fh5co-cover-thumb" style="background-image: url(/static/images/20.jpg);"></div>
								<div class="desc-thumb">
									<p>"Designing intuitive and delightful user journeys, I merge creativity with usability, enhancing overall satisfaction and interaction with our digital products."</p>
									<span>Full Stack Developer</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-media-section -->
		<div id="fh5co-intro-section">
			<div class="fh5co-intro-cover text-center animate-box" data-animate-effect="fadeIn" data-stellar-background-ratio="0.5" style="background-color:#4a7eda;">
				<a href="#" class="btn">Serving You Is Our First Priority</a>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-product-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Products</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
				<div class="owl-carousel owl-carousel2">
					<div class="item animate-box"><a href="/static/images/9.PNG" class="image-popup"><img src="/static/images/9.PNG" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/10.jpg" class="image-popup"><img src="/static/images/10.jpg" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/11.PNG" class="image-popup"><img src="/static/images/11.PNG" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/12.jpg" class="image-popup"><img src="/static/images/12.jpg" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/9.PNG" class="image-popup"><img src="/static/images/9.PNG" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/10.jpg" class="image-popup"><img src="/static/images/10.jpg" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/11.PNG" class="image-popup"><img src="/static/images/11.PNG" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/12.jpg" class="image-popup"><img src="/static/images/12.jpg" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/9.PNG" class="image-popup"><img src="/static/images/9.PNG" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/10.jpg" class="image-popup"><img src="/static/images/10.jpg" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/11.PNG" class="image-popup"><img src="/static/images/11.PNG" alt="image"></a></div>
					<div class="item animate-box"><a href="/static/images/12.jpg" class="image-popup"><img src="/static/images/12.jpg" alt="image"></a></div>
				
				</div>
			</div>
		</div>
		{% endblock  %}

		{% comment %} Okay {% endcomment %}
	